{% extends "Student_Portal/index.html" %}
{%load static%}
{% block content %}
<div class="container">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Branch
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for branch in branches %}
      <li><a href="{% url 'AllStudentsBranchwise' branch %}">{{ branch }}</a></li>
      {% endfor %}
    </ul>
    <div class="right col" style="color: black;">Export To Excel <a href ="{% url 'export_excel'%}" type="button" <i class="glyphicon glyphicon-download-alt" style="color: black;"></i></a></div>
    <a href="/student/AllStudents" type="button" class="btn btn-default"><i class="fa fa-close"></i> Clear All</a>
    <p class="col" id="pbrname" style="color: black;">Showing results based on
      <span>{{branch}}</span>
      Branch.
    </p>
  </div>
</div>
<div class="container">
<table class="table tbl">
    <thead>
      <tr class="col">
        <th>ID</th>
        <th>Name</th>
        <th>Branch</th>
        <th>Roll Number</th>
        <th>Email-Id</th>
        <th>Year Of Addmission</th>
        <th>Current Year</th>
      </tr>
    </thead>
    <tbody>
        {% for student in students%}
      <tr class="col">
        <td><a href="{% url 'UpdateStudent' student.id %}" class="col">{{student.id}}</a></td>
        <td>{{student.name}}</td>
        <td>{{student.branch}}</td>
        <td>{{student.roll_no}}</td>
        {% if student.email == "0" %}
          <td>--</td>
        {% else %}
          <td>{{student.email}}</td>
        {% endif %}
        <td>{{student.year_of_admissn}}</td>
        <td>{{student.current_year}}</td>
      </tr>      
        {% endfor %}
    </tbody>
  </table>
  <p class="col" style="color: black;">Total Records Found<span> {{total}}</span></p>
</div>
{% endblock %}
