{% extends "Student_Portal/index.html" %}

{% block content %}
<div class="container">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Branch
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for branch in branches %}
      <li><a href="{% url 'GetAllStudentsBranchwise' branch %}">{{ branch }}</a></li>
      {% endfor %}
    </ul>
    <a href="/student/GetAllStudents" type="button" class="btn btn-default"><i class="fa fa-close"></i> Clear All</a>
    <p class="col" id="pbrname">Showing results based on
      <span>{{branch}}</span>
      Branch.
    </p>
  </div>
</div>
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Branch</th>
        <th>Roll Number</th>
        <th>Year Of Addmission</th>
      </tr>
    </thead>
    <tbody>
        {% for student in students%}
      <tr class="success">
        <td><a href="{% url 'UpdateStudent' student.id %}">{{student.id}}</a></td>
        <td>{{student.name}}</td>
        <td>{{student.branch}}</td>
        <td>{{student.roll_no}}</td>
        <td>{{student.year_of_admissn}}</td>
      </tr>      
        {% endfor %}
    </tbody>
  </table>
  <p class="col">Total Records Found<span> {{total}}</span></p>
</div>
{% endblock %}
