<!DOCTYPE html>
{%load static%}
<head>
    <meta charset="utf-8">
    
    <title>Student Portal</title>
    
    <script type="text/javascript" src="{% static "javascript/index.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/minstyle.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">IMSEC</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/student">Home</a></li>
            <li><a onclick="GetAllStudents()">Students</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      </nav>

    <h1 class="col" style="margin-left: 300px;">WELCOME TO IMSEC STUDENT ERP</h1>
    {% block content %}
    <div style="margin-left: 475px; margin-top: 50px;">
    <img src = "{% static "images/imsec.jfif" %}" alt="load image>"
    </div>
    <div style="margin-left: 60px; margin-bottom: 50px;">
    </div>
    {% endblock %}
    <footer class="bg-col">
        
            IMSEC
      

    </footer>
</body>

