<!DOCTYPE html>
{%load static%}
<head>
    <meta charset="utf-8">
    <title>MCE</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{% static "javascript/Student_Portal/globalconstants.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/Student_Portal/allstudents.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/Student_Portal/index.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/minstyle.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">COLLEGE CODE 143</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/student"<i class="glyphicon glyphicon-home"></i> HOME</a></li>
            <li><a href="/student/AllStudents"<i class="glyphicon glyphicon-th-list"></i> STUDENTS</a></li>
            <li><a href="/student/AddStudent"<i class="glyphicon glyphicon-plus"></i> ADDSTUDENT</a></li>
            <li><a href="javascript:void(0)" onclick="Redirect_To_Accounts()"<i class="glyphicon glyphicon-briefcase"></i> ACCOUNTS</a></li>
            <li class="right-navbar"><a href="{% url 'Login' %}">Logout</a></li>
          </ul>
        </div>
      </nav>
    <div class="">
      <marquee class="myMarquee" direction="right">
        Welcome To My College Of Engineering
        </marquee>
    </div>
  {% block content %}
      <section class="">
        <div>
            <img src = "{% static "/images/College_BG.webp" %}" style="width:100%;background-size: cover;" alt="load image">
        </div>
      </section>
    <section class="space grey-lighten">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 col-mid-4 mbg-mob">
            <h2 class="heading heading--l heading--line wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">MCE Ghaziabad</h2>
            <p class="text text--justify wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">This College ERP is developed for a <mark>learning</mark> purpose. It is a just a prototype of a real world college erp but not a real college erp.</p>
            <p class="text text--justify wow fadeInDown" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">MCE Ghaziabad is one of the top-notch Engineering colleges in North India which has created a niche for itself since its establishment in 2002. It is ranked 4th in North Region wise ranking and 16th in Top 100 private Engineering college by Times Engineering Institute Ranking Survey 2020.</p>
            <a href="#" class="button button--p">Read More</a>
          </div>
          
          <div class="col-12 col-md-4 col-small-4">
            <h2 class="heading heading--l heading--line wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Important Links</h2>
            
            <ul class="sidebar sidebar--big">
                
  <li>
      <a href="#">
         <div class="sidebar__img-area">
            <i class="fa fa-file-text-o"></i>
         </div>
         <div class="sidebar__content">
            <span class="sidebar__title">Achievements</span>
         </div>
      </a>
   </li> 
   
   <li>
    <a href="#" target="_blank">
       <div class="sidebar__img-area">
          <i class="fa fa-cog"></i>
       </div>
       <div class="sidebar__content">
          <span class="sidebar__title">College ERP</span>
       </div>
    </a>
   </li>
   <li>
      <a href="#" target="_blank">
         <div class="sidebar__img-area">
            <i class="fa fa-link"></i>
         </div>
         <div class="sidebar__content">
            <span class="sidebar__title">University Website</span>
         </div>
      </a>
   </li>
   <li>
      <a href="#">
         <div class="sidebar__img-area">
            <i class="fa fa-graduation-cap"></i>
         </div>
         <div class="sidebar__content">
            <span class="sidebar__title">Educational Verification Process</span>
         </div>
      </a>
   </li>
   <li>
      <a href="#">
         <div class="sidebar__img-area">
            <i class="fa fa-download"></i>
         </div>
         <div class="sidebar__content">
            <span class="sidebar__title">Download E-Brochure</span>
         </div>
      </a>
   </li>
   <li>
      <a href="#">
         <div class="sidebar__img-area">
            <i class="fa fa-paper-plane"></i>
         </div>
         <div class="sidebar__content">
            <span class="sidebar__title">Admission Enquiry</span>
         </div>
      </a>
   </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
<!-- Footer Starts -->
<footer>
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-12 col-md-6">
              <h5 class="footer-title" style="color: black;">QUICK LINKS</h5>
              <ul class="footer__list">
                <li  style="visibility: visible; animation-name: fadeInUp;"><a href="#">Mandatory Disclosure</a></li>
                <li  style="visibility: visible; animation-name: fadeInUp;"><a href="#">Approval Letters</a></li>
                <li  data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"><a href="#" data-wow-delay=".6s">Balance Sheet &amp; Audit Report</a></li>
                <li  style="visibility: visible; animation-name: fadeInUp;"><a href="#">MoE/ UGC/ AICTE Addon Programs</a></li>
                <li  data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;"><a href="#">Media</a></li>
                <li  data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;"><a href="#">Grievance</a></li>
                <li  style="visibility: visible; animation-name: fadeInUp;"><a href="#" target="_blank">Vivechan International Journal</a></li>
                <li  style="visibility: visible; animation-name: fadeInUp;"><a href="#">ICC-Internal Complaint Committee</a></li>
              </ul>
            </div>
            <div class="col-12 col-md-6">
              <h5 class="footer-title" style="color: black;">QUICK LINKS</h5>
              <ul class="footer__list">
                <li  data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"><a href="#">Engineering College Milestones</a></li>
                <li  data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"><a href="#">Guideline for Students</a></li>
                <!-- <li  data-wow-delay=".9s"><a href="https://aktu.ac.in/" target="_blank">University Website</a></li> -->
                <li  data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;"><a href="#">Convocation Proceeding</a></li>
                <li  data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeInUp;"><a href="#">NAAC</a></li>
                <li  style="visibility: visible; animation-name: fadeInUp;"><a href="#" target="_blank">Campus-Green Policy</a></li>
                <li  data-wow-delay="1.8s" style="visibility: visible; animation-delay: 1.8s; animation-name: fadeInUp;"><a href="#">NIRF</a></li>
                <li  data-wow-delay="1.8s" style="visibility: visible; animation-delay: 1.8s; animation-name: fadeInUp;"><a href="#">Environmental Monitoring Cell</a></li>
                <li  style="visibility: visible; animation-name: fadeInUp;"><a href="#" target="_blank">Student Club's Registration</a></li>
              </ul>
              
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <h5 class="footer-title" style="color: black;">FEST @ MCE</h5>
          <ul class="footer__list">
            <li  style="visibility: visible; animation-name: fadeInUp;"><a href="#" target="_blank">Cultural Fest : Vibgyor</a></li>
            <li  data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"><a href="#">Sport Fest: Chakravyuh</a></li>
            <li  data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"><a href="#" target="_blank">Technical Fest: Technovation</a></li>
          </ul>
          <h5 class="footer-title" style="color: black;">MCE SPORTS</h5>
          <ul class="footer__list">
            <li><a href="#">Sports</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4"> 
      <h5 class="footer-title" style="color: black;">CONTACT US</h5>
      <div class="footer-address">
        <ul class="footer__list">
          <li>Ghaziabad. UP.</li>
          <li>Landline: 0120-49432222</li>
          <li>Email-Id: mce@mec.ac.in</li>
          <li>WhatsApp: +91-9812396583</li>
          <br>
          <li>Admission:</li> 
          <li>+91-9821323581/82/83,<br>+91-98217873291</li>
                        <li>Toll-Free(Admission):1901-102-8093</li>
          <li>Email-Id: enquiry@mec.ac.in</li>
        </ul>
    </div>
  </div>
</div>
  </div>
  <div class="footer-copyright" style="text-align: center;">
    <p style="color: black;">An MCE Group Institution<br>
    <a href="#" target="_blank">www.mcegroup.ac.in</a></p>   
 </div>
  <div class="footer-copyright" style="margin-left:10px;">
    <div class="row">
      <div class="col-12 col-md-4" style="color: black;">
        Copyright © My College of Engineering College Ghaziabad, All Rights Reserved.
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div>
      <ul class="social-network social-circle">
        <li><a href="#" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
<!-- Footer Ends -->
</body>

