<!DOCTYPE html>
{%load static%}
<head>
    <meta charset="utf-8">
    <title>IMSEC</title>
    <link rel="icon" type="image/x-icon" href="{% static "images/imsec.jfif" %}">
    <link rel="stylesheet" href="{% static "css/minstyle.css" %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static "javascript/StudentDashboard/studentDashboard.js" %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="bg-col">
    <div class="img-responsive center-block">
        <img src = "{% static "images/imsec_logo.jfif" %}" class="img-responsive center-block" alt="load image">
    </div>
    {% block content %}
    <div class="container" style="background-color:whitesmoke;">
        {% if messages %}
          <ul class="messages" style="color: red;">
            {% for message in messages %}
            <li {% if messages.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </div>
    <div class="container login" >
        <form method="post" action="login">
            {% csrf_token %}
                <label for="txtloginid" class="col">Username</label>
                <div><input type="text" name="loginid" id="txtloginid" required size="30"></div>
                <label for="txtpassword" class="col">Password</label>
                <div><input type="password" name="password" id="txtpassword" required size="30"></div>
                <div>
                    <input type="checkbox" onclick="showPassword()">
                    <label style="color:white">Show Password</label>
                </div>
                <input type="submit" class="btn btn-primary" value="Login">
                <a href="{% url 'signup' %}" class="a_login_signupscreen">Click here for signup</a>
        </form>
    </div>
    {% endblock %}
    <!-- Footer Starts -->
    <footer>
        <div class="row">
        <div class="col-12 col-md-7">
            <div class="row">
            <div class="col-12 col-md-8">
                <div class="row">
                <div class="col-12 col-md-6">
                    <h5 class="footer-title" style="color: black;">QUICK LINKS</h5>
                    <ul class="footer__list">
                    <li  style="visibility: visible; animation-name: fadeInUp;"><a href="http://imsec.ac.in/mandatory-disclosure">Mandatory Disclosure</a></li>
                    <li  style="visibility: visible; animation-name: fadeInUp;"><a href="http://imsec.ac.in/approvals">Approval Letters</a></li>
                    <li  data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/balance-sheet-and-audit-report" data-wow-delay=".6s">Balance Sheet &amp; Audit Report</a></li>
                    <li  style="visibility: visible; animation-name: fadeInUp;"><a href="http://imsec.ac.in/MoE-UGC-AICTE-Addon-Programs">MoE/ UGC/ AICTE Addon Programs</a></li>
                    <li  data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/media">Media</a></li>
                    <li  data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/grievance">Grievance</a></li>
                    <li  style="visibility: visible; animation-name: fadeInUp;"><a href="http://www.ijrimsec.com/assoc_art/index.php" target="_blank">Vivechan International Journal</a></li>
                    <li  style="visibility: visible; animation-name: fadeInUp;"><a href="http://imsec.ac.in/Internal-Complaint-Committee">ICC-Internal Complaint Committee</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="footer-title" style="color: black;">QUICK LINKS</h5>
                    <ul class="footer__list">
                    <li  data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/milestones">Engineering College Milestones</a></li>
                    <li  data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/guideline-for-students">Guideline for Students</a></li>
                    <!-- <li  data-wow-delay=".9s"><a href="https://aktu.ac.in/" target="_blank">University Website</a></li> -->
                    <li  data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/convocation-proceeding">Convocation Proceeding</a></li>
                    <li  data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/naac">NAAC</a></li>
                    <li  style="visibility: visible; animation-name: fadeInUp;"><a href="http://imsec.ac.in/assets/pdf/naac/Criteria-7/Green%20Policy%20Document.pdf" target="_blank">Campus-Green Policy</a></li>
                    <li  data-wow-delay="1.8s" style="visibility: visible; animation-delay: 1.8s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/others/nirf">NIRF</a></li>
                    <li  data-wow-delay="1.8s" style="visibility: visible; animation-delay: 1.8s; animation-name: fadeInUp;"><a href="http://imsec.ac.in//envm-cell">Environmental Monitoring Cell</a></li>
                    <li  style="visibility: visible; animation-name: fadeInUp;"><a href="http://digital.imsec.ac.in/studentclubimsec.jsp" target="_blank">Student Club's Registration</a></li>
                    </ul>
                    
                </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h5 class="footer-title" style="color: black;">FEST @ IMSEC</h5>
                <ul class="footer__list">
                <li  style="visibility: visible; animation-name: fadeInUp;"><a href="https://imsec.wordpress.com/2019/03/13/imsec-intra-college-annual-fest-vibgyor-2k19/" target="_blank">Cultural Fest : Vibgyor</a></li>
                <li  data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/chakravyuh">Sport Fest: Chakravyuh</a></li>
                <li  data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"><a href="http://imsec.ac.in/Technovation/index.html" target="_blank">Technical Fest: Technovation</a></li>
                </ul>
                <h5 class="footer-title" style="color: black;">IMSEC SPORTS</h5>
                <ul class="footer__list">
                <li><a href="http://imsec.ac.in/campus/sports-and-leisure">Sports</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-4"> 
            <h5 class="footer-title" style="color: black;">CONTACT US</h5>
            <div class="footer-address">
            <ul class="footer__list">
                            <li>NH-24, Adhyatmik Nagar, Near Dasna, Distt: Ghaziabad. UP.</li>
                            <li>Landline: 0120-4940000</li>
                            <li>Email-Id: imsec@imsec.ac.in</li>
                            <li>WhatsApp: +91-9821396583</li>
                            <br>
                            <li>Admission:</li> 
                            <li>+91-9821396581/82/83,<br>+91-9821003291</li>
                            <li>Toll-Free(Admission):1800-102-8393</li>
                            <li>Email-Id: enquiry@imsec.ac.in</li>
                        </ul>
        </div>
        </div>
    </div>
        </div>
        <div class="footer-copyright" style="text-align: center;">
        <p style="color: black;">An IMS Group Institution<br>
        <a href="https://imsgroup.ac.in/" target="_blank">www.imsgroup.ac.in</a></p>   
    </div>
        <div class="footer-copyright" style="margin-left:10px;">
        <div class="row">
            <div class="col-12 col-md-4" style="color: black;">
            Copyright © IMS Engineering College Ghaziabad, All Rights Reserved.
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <div>
            <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/IMSEC143/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/IMSECGhaziabad" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/imsecghaziabad" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
    </footer>
    <!-- Footer Ends -->
</body>